trunk/ID2208/OnlineBookStoreComposite/src/jbiServiceUnits/OnlineBookStoreBpel/Partners/OrderBook.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OrderBook" targetNamespace="http://j2ee.netbeans.org/wsdl/OrderBook"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/OrderBook" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://xml.netbeans.org/schema/BookStore">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/OrderBook" xmlns:ns1="http://xml.netbeans.org/schema/BookStore">
            <xsd:import namespace="http://xml.netbeans.org/schema/BookStore" schemaLocation="BookStore.xsd"/>
        </xsd:schema>
    </types>
    <message name="OrderBookOperationRequest">
        <part name="input" element="ns1:orderBookRequest"/>
    </message>
    <message name="OrderBookOperationResponse">
        <part name="input" element="ns1:orderBookResponse"/>
    </message>
    <portType name="OrderBookPortType">
        <operation name="OrderBookOperation">
            <input name="input1" message="tns:OrderBookOperationRequest"/>
        </operation>
    </portType>
    <portType name="OrderBookReturnPortType">
        <operation name="OrderBookReturnOperation">
            <input name="input1" message="tns:OrderBookOperationResponse"/>
        </operation>
    </portType>
    <binding name="OrderBookBinding" type="tns:OrderBookPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="OrderBookOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="OrderBookReturnPortTypeBinding" type="tns:OrderBookReturnPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="OrderBookReturnOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="OrderBookService">
        <port name="OrderBookPort" binding="tns:OrderBookBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/OrderBookService/OrderBookPort"/>
        </port>
    </service>
    <service name="OrderBookReturnService">
        <port name="OrderBookReturnPortTypeBindingPort" binding="tns:OrderBookReturnPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/OrderBookReturnService/OrderBookReturnPortTypeBindingPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="OrderBook">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="OrderBookPortTypeRole" portType="tns:OrderBookPortType"/>
        <plnk:role name="OrderBookReturnPortTypeRole" portType="tns:OrderBookReturnPortType"/>
    </plnk:partnerLinkType>
</definitions>
