trunk/ID2208/OnlineBookStoreComposite/src/jbiServiceUnits/OnlineBookStoreBpel/Partners/ShipmentBook.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ShipmentBook" targetNamespace="http://j2ee.netbeans.org/wsdl/ShipmentBook"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/ShipmentBook" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://xml.netbeans.org/schema/BookStore">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/ShipmentBook" xmlns:ns1="http://xml.netbeans.org/schema/BookStore">
            <xsd:import namespace="http://xml.netbeans.org/schema/BookStore" schemaLocation="BookStore.xsd"/>
        </xsd:schema>
    </types>
    <message name="ShipmentBookOperationRequest">
        <part name="input" element="ns1:shipmentBookRequest"/>
    </message>
    <message name="ShipmentBookOperationResponse">
        <part name="input" element="ns1:shipmentBookResponse"/>
    </message>
    <portType name="ShipmentBookPortType">
        <operation name="ShipmentBookOperation">
            <input name="input1" message="tns:ShipmentBookOperationRequest"/>
        </operation>
    </portType>
    <portType name="ShipmentBookReturnPortType">
        <operation name="ShipmentBookReturnOperation">
            <input name="input1" message="tns:ShipmentBookOperationResponse"/>
        </operation>
    </portType>
    <binding name="ShipmentBookBinding" type="tns:ShipmentBookPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ShipmentBookOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="ShipmentBookReturnPortTypeBinding" type="tns:ShipmentBookReturnPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ShipmentBookReturnOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="ShipmentBookService">
        <port name="ShipmentBookPort" binding="tns:ShipmentBookBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/ShipmentBookService/ShipmentBookPort"/>
        </port>
    </service>
    <service name="ShipmentBookReturnService">
        <port name="ShipmentBookReturnPortTypeBindingPort" binding="tns:ShipmentBookReturnPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/ShipmentBookReturnService/ShipmentBookReturnPortTypeBindingPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="ShipmentBook">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ShipmentBookPortTypeRole" portType="tns:ShipmentBookPortType"/>
        <plnk:role name="ShipmentBookReturnPortTypeRole" portType="tns:ShipmentBookReturnPortType"/>
    </plnk:partnerLinkType>
</definitions>
