trunk/ID2208/XMLProcessing/xml/JobDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/JobDescription" xmlns:tns="http://www.example.org/JobDescription" elementFormDefault="qualified">

    <element name="jobs" type="tns:jobsType"></element>

	<complexType name="jobsType">
    	<sequence>
    		<element name="job" type="tns:jobType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>
    
    <complexType name="jobType">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="description" type="string"></element>
    	</sequence>
    </complexType>

</schema>