ID2208/JobServiceClient/src/META-INF/wsdl/localhost_8080/JobService/SearchJobService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://jobservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jobservice.com/">

<xs:element name="search" type="tns:search"></xs:element>

<xs:element name="searchResponse" type="tns:searchResponse"></xs:element>

<xs:complexType name="search">
<xs:sequence>
<xs:element name="keyword" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>