trunk/ID2208/JobServiceClient/src/META-INF/wsdl/localhost_8080/JobService/CompanyService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://jobservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jobservice.com/">

<xs:element name="getCompanyInfo" type="tns:getCompanyInfo"></xs:element>

<xs:element name="getCompanyInfoResponse" type="tns:getCompanyInfoResponse"></xs:element>

<xs:complexType name="getCompanyInfo">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>