trunk/ID2208/src/jbiServiceUnits/META-INF/OnlineBookStoreBpel/src/Partners/ShipmentService/ShipmentServiceService_xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://onlinebookstore.com/schema/">

<xs:complexType name="Shipment">
<xs:sequence>
<xs:element name="invoice" type="xs:string"></xs:element>
<xs:element name="creditcard" type="xs:string"></xs:element>
<xs:element name="source" type="xs:string"></xs:element>
<xs:element name="destination" type="xs:string"></xs:element>
<xs:element name="date" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>