trunk/ID2208/JobServiceClient/src/META-INF/wsdl/localhost_47658/JobService/UniversityService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://jobservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jobservice.com/">

<xs:element name="getTranscripts" type="tns:getTranscripts" />

<xs:element name="getTranscriptsResponse" type="tns:getTranscriptsResponse" />

<xs:complexType name="getTranscripts">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTranscriptsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>