ID2208/OnlineBookStoreComposite/src/jbiServiceUnits/META-INF/OnlineBookStoreBpel/src/Partners/BookPublisher1/BookPublisher1Service_xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://onlinebookstore.com/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://onlinebookstore.com/schema/">

<xs:complexType name="Order">
<xs:sequence>
<xs:element name="invoice" type="xs:string"></xs:element>
<xs:element name="creditcard" type="xs:string"></xs:element>
<xs:element name="location" type="xs:string"></xs:element>
<xs:element name="book" type="tns:Book"></xs:element>
<xs:element name="status" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Book">
<xs:sequence>
<xs:element name="title" type="xs:string"></xs:element>
<xs:element name="author" type="xs:string"></xs:element>
<xs:element name="isbn" type="xs:string"></xs:element>
<xs:element name="price" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>